@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --font-family: 'Poppins', sans-serif;

    --primary-color: #333446;
    --secondary-color: #7F8CAA;
    --tertiary-color: #B8CFCE;
    --quaternary-color: #EAEFEF;
    --quinary-color: #F5FAFE;
}

body {
    font-family: var(--font-family);

    @apply 
        h-screen 
        bg-[var(--secondary-color)] 
        flex p-[12px];
}

nav {
    @apply 
        w-[300px]
        mr-[12px] 
        bg-[var(--primary-color)] 
        text-[var(--quaternary-color)]
        rounded-lg
        overflow-hidden
        flex
        flex-col
        justify-between;

    ul {
        @apply 
            flex
            flex-col;

        li {
            .person-login, a {
                @apply 
                    h-[50px]
                    w-full
                    px-4
                    text-[14px]     
                    tracking-normal       
                    flex
                    items-center
                    gap-[8px];

                .icon-container {
                    @apply 
                        h-[30px]
                        w-[30px] 
                        flex
                        justify-center
                        items-center;                
                }
            }

            .person-login {
                @apply 
                    h-[60px] 
                    my-[10px]
                    text-[var(--tertiary-color)];
            }

            a {
                @apply 
                    hover:bg-[var(--quaternary-color)]
                    hover:text-[var(--primary-color)]
                    transition-all
                    duration-200
                    ease-in-out;
            }
        }
    }
}


/* USER MANAGEMENT */
.user-management-section {
    .overlay {
        @apply 
            bg-black/70 
            fixed 
            top-0 
            left-0 
            right-0 
            bottom-0 
            z-99;
    }

    .add-user-container {
        @apply
             bg-[var(--quaternary-color)] 
             p-[25px]
             fixed 
             top-1/2 
             left-1/2 
             transform -translate-x-1/2
             translate-y-full
             opacity-0
             transition-transform
             transition-opacity
             duration-300
             ease-in-out

             z-100 
             shadow
             rounded-[8px]
             flex
             flex-col
             gap-[30px];        

         h3 {
            @apply
                text-[16px]
                tracking-wider
                font-semibold
                flex
                items-center
                gap-[8px];
         }     

         .input-list-container {
            @apply
                grid 
                grid-cols-2 
                gap-[30px];


            .input-container {
                @apply
                    text-[15px]
                    flex
                    flex-col
                    gap-[10px];

                input, select {
                    @apply
                        h-[40px]
                        w-[200px]
                        px-[12px]
                        text-[12px]
                        border
                        border-[var(--primary-color)]
                        border-1
                        rounded-lg
                        appearance-none;
                }

            }
         }

         .add-button-container {
            @apply
                pt-[10px]
                flex
                justify-between;

            button {
                @apply
                    text-[13px]
                    flex
                    justify-center
                    items-center
                    gap-[8px];
            }

            #cancelAddUser {
                @apply
                    px-[20px]
                    py-[6px]
                    border
                    border-[var(--primary-color)]
                    border-2
                    rounded-lg;
            }

            #addUser {
                @apply
                    px-[20px]
                    py-[6px]
                    bg-[var(--primary-color)]
                    text-[var(--quaternary-color)]
                    border
                    border-[var(--primary-color)]
                    border-2
                    rounded-lg;
            }
         }
    }

    .add-user-container-active {
        @apply 
            -translate-y-1/2 
            opacity-100;
    }
}